@model IEnumerable<BookStore2024.ViewModels.ProductVM>

<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-newrelease">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="tg-sectionhead">
                        <h2><span>Taste The New Spice</span>New Release Books</h2>
                    </div>
                    <div class="tg-description">
                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore toloregna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoiars nisiuip commodo consequat aute irure dolor in aprehenderit aveli esseati cillum dolor fugiat nulla pariatur cepteur sint occaecat cupidatat.</p>
                    </div>
                    <div class="tg-btns">
                        <a class="tg-btn tg-active" asp-action="Index" asp-controller="Products">View All</a>
                        <a class="tg-btn" href="javascript:void(0);">Read More</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="tg-newreleasebooks">
                            @foreach (var item in Model)
                            {
                                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-4">
                                    <div class="tg-postbook">
                                        <figure class="tg-featureimg">
                                            <a asp-action="Detail" asp-controller="Products" asp-route-DetailId="@item.BookDetailId">
                                                <div class="tg-bookimg">
                                                    <div class="tg-frontcover"><img src="@item.ProductImg" alt="ProductImg"></div>
                                                    <div class="tg-backcover"><img src="@item.ProductImg" alt="ProductImg"></div>
                                                </div>
                                            </a>
                                            <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                                                <i class="icon-heart"></i>
                                                <span>add to wishlist</span>
                                            </a>
                                        </figure>
                                        <div class="tg-postbookcontent">
                                            <ul class="tg-bookscategories">
                                                <li><a href="javascript:void(0);">@item.CategoryName</a></li>
                                            </ul>
                                            <div class="tg-booktitle">
                                                <h3>
                                                    <a asp-action="Detail" asp-controller="Products" asp-route-DetailId="@item.BookDetailId">
                                                        @item.ProductName - [@item.FormatName]
                                                    </a>
                                                </h3>
                                            </div>
                                            <span class="tg-bookwriter">By: <a href="javascript:void(0);">@item.AuthorName</a></span>
                                            <span class="tg-stars"><span></span></span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>