@model IEnumerable<BookStore2024.ViewModels.GenreVM>
@if (Model.Any())
{
	<ul>
		@foreach(var item in Model)
		{
			<li>
				<div class="tg-linkstitle">
					<h2>@item.GenreName</h2>
				</div>
				<ul>
					@await Component.InvokeAsync("ProductsInMegaMenu", new { GenreID = item.GenreId, CateID = ViewBag.cateID})
				</ul>
				<a class="tg-btnviewall" asp-controller="Products" asp-action="Index" asp-route-category="@ViewBag.cateID" asp-route-genre="@item.GenreId">View All</a>
			</li>
		}
	</ul>
}
<ul>
	<li>
		<figure><img src="../images/img-01.png" alt="image description"></figure>
		<div class="tg-textbox">
			<h3>More Than<span>@ViewBag.bookquantity</span>Books Collection</h3>
			<div class="tg-description">
				<p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
			</div>
			<a class="tg-btn" asp-controller="Products" asp-action="Index" asp-route-category="@ViewBag.cateID">view all</a>
		</div>
	</li>
</ul>
