@{
    Layout = "_MainLayout";
}
@model IEnumerable<BookStore2024.ViewModels.CartItemVM>

@section externalCSS {
    <style>
        .btn-primary {
            color: #fff;
            background-color: #77b748;
            border-color: #77b748
        }

            .btn-primary.focus, .btn-primary:focus {
                color: #fff;
                background-color: #71AD44;
                border-color: #71AD44
            }

            .btn-primary:hover {
                color: #fff;
                background-color: #71AD44;
                border-color: #71AD44
            }
            table, th, td {
                border-right: 1px solid white !important;
                border-left: 1px solid white !important;
                border-collapse: collapse !important;
            }
    </style>
}

<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="../images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>All Products</h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="javascript:void(0);">home</a></li>
                        <li class="tg-active">Cart</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @if (Model != null && Model.Any())
    {
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive cart">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 8%;">Products</th>
                                <th style="width: 50%;">Name</th>
                                <th style="width: 10%;">Price</th>
                                <th style="width: 14%;">Quantity</th>
                                <th style="width: 10%;">Total</th>
                                <th style="width: 8%;"></th>
                            </tr>
                        </thead>
                        <tbody class="cart-data">
                            @foreach (var item in Model)
                            {
                                <tr class="cart-row" id="@item.BookDetailId">
                                    <td class="product-img">
                                        <img src="@item.ProductImg" class="img-responsive" style="width: 80px; height: 80px;" alt="ProductImg">
                                    </td>
                                    <td style="vertical-align: middle;" class="product-name">
                                        <p class="mt-4" style="margin-left: 20px;">@item.ProductName|[@item.FormatName]</p>
                                    </td>
                                    <td style="vertical-align: middle;" class="product-price">
                                        <p class="mt-4 product-price-value">$@item.Price</p>
                                    </td>
                                    <td style="vertical-align: middle; " class="product-quantity">
                                        <div class="input-group" style="min-width: 100%;">
                                            <div class="input-group-btn">
                                                <a class="btn btn-sm button-minus glyphicon glyphicon-minus" asp-action="decreaseQuantity" asp-controller="Cart" asp-route-productDetailId="@item.BookDetailId"></a>
                                            </div>
                                            <input type="text" class="form-control input-sm text-center product-quantity-value" value="@item.Quantity" asp-route-quantity="@item.Quantity" readonly>
                                            <div class="input-group-btn">
                                                <a class="btn btn-sm button-plus glyphicon glyphicon-plus" asp-action="increaseQuantity" asp-controller="Cart" asp-route-productDetailId="@item.BookDetailId"></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;" class="row-amount">
                                        <p class="row-amount-value">$@item.Amount</p>
                                    </td>
                                    <td style="vertical-align: middle;" class="hanlde">
                                        <a class="btn btn-danger btn-sm glyphicon glyphicon-remove" asp-action="RemoveItem" asp-controller="Cart" asp-route-productDetailId="@item.BookDetailId"></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row cart-total">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
                <div class="text-center" style="padding: 10px;">
                    <h2 style="margin: 0;">Cart Total</h2>
                </div>
                <div class="well" style="margin-top: 10px; padding: 10px;">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <h3 style="margin: 0;">Subtotal:</h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <p style="margin: 0;" class="subTotal-value">$</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <h3 style="margin: 0;">Shipping</h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <p style="margin: 0;" class="shippingFee">$5.00</p>
                        </div>
                    </div>
                    <p class="text-right" style="margin: 0;"><lable>Shipping to</lable> <input type="type" name="name" value="@User.FindFirst("Address").Value.ToString()" /></p>
                </div>
                <div class="text-center" style="margin-top: 10px;">
                    <h2 style="margin: 0;" class="total">Total: $0.00</h2>
                    @* <a asp-action="CheckOut" asp-controller="Cart">
                        <button type="button" class="btn btn-primary btn-lg" style="margin-top: 10px;"></button>
                    </a> *@
                    <form asp-action="CheckOut" asp-controller="Cart">
                        <div class="display-none">
                            <label>subTotal-value-toForm:</label>
                            <input class="subTotal-value-toForm" type="text" name="subtotal">
                            <label>total-toForm:</label>
                            <input class="total-toForm" type="text" name="total">
                            <label>Shiping:</label>
                            <input type="type" name="address" value="@User.FindFirst("Address").Value.ToString()" />
                        </div>
                       
                        <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 10px;">Proceed Checkout</button>
                    </form>
                </div>
            </div>
        </div>
        
    }
    else
    {
        <main id="tg-main" class="tg-main tg-haslayout">
            <div class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="tg-404error">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
                                <div class="tg-404errorcontent">
                                    <h3>There're not thing in cart</h3>
                                    <span>404</span>
                                </div>
                                @await Html.PartialAsync("_Search")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    }
</div>

