@model IEnumerable<BookStore2024.ViewModels.BlogVM>

<div class="tg-widget tg-widgettrending">
    <div class="tg-widgettitle">
        <h3>Trending Posts</h3>
    </div>
    <div class="tg-widgetcontent">
        <ul>
            @foreach(var item in Model)
            {
                <li>
                    <article class="tg-post">
                        <figure><a asp-action="Detail" asp-controller="Blog" asp-route-DetailId="@item.BlogId"><img src=@item.ImgUrl alt="image description"></a></figure>
                        <div class="tg-postcontent">
                            <div class="tg-posttitle">
                                <h3><a asp-action="Detail" asp-controller="Blog" asp-route-DetailId="@item.BlogId">@item.BlogTitle</a></h3>
                            </div>
                            <span class="tg-bookwriter">By: <a asp-action="Detail" asp-controller="Author" asp-route-DetailId="@item.AuthorId">@item.AuthorName</a></span>
                        </div>
                    </article>
                </li>
            }
        </ul>
    </div>
</div>