@{
    ViewData["Title"] = "Best Selling";
    Layout = "_ProductsList";
}

@model PaginatedList<BookStore2024.ViewModels.ProductVM>

@section BreadCrumb {
    <div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="../images/parallax/bgparallax-07.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-innerbannercontent">
                        <h1>Best Selling</h1>
                        <ol class="tg-breadcrumb">
                            <li><a href="javascript:void(0);">home</a></li>
                            <li class="tg-active">Best Selling</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="tg-productgrid">
    <div class="tg-refinesearch">
        <span>showing @(ViewBag.PageSize * (Model.PageIndex - 1) + 1) to @(ViewBag.PageSize * (Model.PageIndex - 1) + Model.Count()) of @ViewBag.totalProduct total</span>
        <form class="tg-formtheme tg-formsortshoitems">
            <fieldset>
                <div class="form-group">
                    <label>sort by:</label>
                    <span class="tg-select">
                        <select>
                            <option>name</option>
                            <option>name</option>
                            <option>name</option>
                        </select>
                    </span>
                </div>
                <div class="form-group">
                    <label>show:</label>
                    <span class="tg-select">
                        <select>
                            <option>8</option>
                            <option>16</option>
                            <option>20</option>
                        </select>
                    </span>
                </div>
            </fieldset>
        </form>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
            @await Html.PartialAsync("ProductItem", item)
        </div>
    }
    @if (Model.TotalPages >= 2)
    {
        <div class="Paging row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @if (Model.HasPreviousPage)
                {
                    <a asp-action="BestSelling"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-category="@ViewBag.category"
                       asp-route-genre="@ViewBag.genre"
                       class="btn btn-default">
                        Previous
                    </a>
                }

                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <a asp-action="BestSelling"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber=@i
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-category="@ViewBag.category"
                       asp-route-genre="@ViewBag.genre"
                       class="btn btn-default">
                        @i
                    </a>

                }

                @if (Model.HasNextPage)
                {
                    <a asp-action="BestSelling"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-category="@ViewBag.category"
                       asp-route-genre="@ViewBag.genre"
                       class="btn btn-default">
                        Next
                    </a>
                }
            </div>
        </div>
    }
    
</div>


