@{
    ViewData["Title"] = "Search";
    Layout = "_ProductsList";
}
@model BookStore2024.ViewModels.ProductVM

@section BreadCrumb {
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="../images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>All Products</h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="javascript:void(0);">home</a></li>
                        <li><a href="javascript:void(0);">Products</a></li>
                        <li class="tg-active">@Model.ProductName</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
}
<div class="tg-productdetail">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="tg-postbook">
                <figure class="tg-featureimg">
                    <img src="@Model.ProductImg" alt="ProductImg">
                </figure>
                <div class="tg-postbookcontent">
                    <span class="tg-bookprice">
                        @if (Model.Discount != 0)
                        {
                            <ins>$@(Model.Price - Model.Discount)</ins>
                            <del>$@Model.Price</del>
                        }
                        @if (Model.Discount == 0)
                        {
                            <ins>$@Model.Price</ins>
                        }
                    </span>
                    @if (Model.Discount != 0)
                    {
                        <span class="tg-bookwriter">You save: $@Model.Discount</span>
                    }
                    <ul class="tg-delevrystock">
                        <li><i class="icon-rocket"></i><span>Free delivery worldwide</span></li>
                        <li><i class="icon-checkmark-circle"></i><span>Dispatch from the USA in 2 working days </span></li>
                        @if(Model.StockQuantity > 0)
                        {
                            <li><i class="icon-store"></i><span>Status: <em>In Stock</em></span></li>
                        }else{
                            <li><i class="icon-store"></i><span>Status: <em>Out Stock</em></span></li>
                        }
                        
                    </ul>
                    <form asp-action="AddtoCart" asp-controller="Cart" asp-route-productDetailId="@Model.BookDetailId">
                        <div class="tg-quantityholder">
                            <button type="button" style="background-color: transparent"><em class="minus">-</em></button>
                                <input type="text" class="result" value="1" id="quantity1" name="quantity"/>
                            <button type="button" style="background-color: transparent"><em class="plus">+</em></button>
                        </div>
                        <button class="tg-btn tg-active tg-btn-lg btn-add-tocart">Add To Cart</button>
                    </form>
                    <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                        <span>add to wishlist</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="tg-productcontent">
                <ul class="tg-bookscategories">
                    <li><a href="javascript:void(0);">@Model.CategoryName - @Model.GenreName</a></li>
                </ul>
                @if (Model.Discount != 0)
                {
                    <div class="tg-themetagbox">
                        <span class="tg-themetag">sale</span>
                    </div>
                }
                <div class="tg-booktitle">
                    <h3>@Model.ProductName</h3>
                </div>
                <span class="tg-bookwriter">By: <a asp-action="Detail" asp-controller="Author" asp-route-DetailId="@Model.AuthorId">@Model.AuthorName</a></span>
                <span class="tg-stars"><span></span></span>
                <span class="tg-addreviews"><a href="javascript:void(0);">Add Your Review</a></span>
                <div class="tg-share">
                    <span>Share:</span>
                    <ul class="tg-socialicons">
                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                        <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                        <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                        <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
                <div class="tg-description">
                    <p>@Model.ProductDescription</p>
                </div>
                <div class="tg-sectionhead">
                    <h2>Product Details</h2>
                </div>
                <ul class="tg-productinfo">
                    <li><span>Format:</span><span>@Model.FormatName</span></li>
                    <li><span>Pages:</span><span>@Model.Pages pages</span></li>
                    <li><span>Dimensions:</span><span>153 x 234 x 43mm | 758g</span></li>
                    <li><span>Publisher:</span><span>@Model.Publisher</span></li>
                    <li><span>Language:</span><span>@Model.Language</span></li>
                    <li><span>Illustrations note:</span><span>@Model.IllustrationsNote</span></li>
                    <li><span>ISBN10:</span><span>@Model.Isbn10</span></li>
                    <li><span>ISBN13:</span><span>@Model.Isbn13</span></li>
                    <li><span>Other Fomate:</span><span>CD-Audio, Paperback, E-Book</span></li>
                </ul>
                <div class="tg-alsoavailable">
                    <figure>
                        <img src="../images/img-02.jpg" alt="image description">
                        <figcaption>
                            <h3>Also Available in:</h3>
                            <ul>
                                <li><span>CD-Audio $18.30</span></li>
                                <li><span>Paperback $20.10</span></li>
                                <li><span>E-Book $11.30</span></li>
                            </ul>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        
        <div class="tg-aboutauthor">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <h2>About Author</h2>
                </div>
                <div class="tg-authorbox">
                    <figure class="tg-authorimg">
                        <img src="@Model.ProfileImageUrl" alt="Author img">
                    </figure>
                    <div class="tg-authorinfo">
                        <div class="tg-authorhead">
                            <div class="tg-leftarea">
                                <div class="tg-authorname">
                                    <h2>@Model.AuthorName</h2>
                                    <span>Author Since: June 27, 2017</span>
                                </div>
                            </div>
                            <div class="tg-rightarea">
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tg-description">
                            <p>Laborum sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis etation.</p>
                        </div>
                        <a class="tg-btn tg-active" asp-action="Detail" asp-controller="Author" asp-route-DetailId="@Model.AuthorId">View All Books</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
